body{
  margin:0;
  font-family:Arial;
  background:#1e1f22;
  color:white;
}

.hidden{display:none}

#app{display:flex;height:100vh}

.sidebar{
  width:220px;
  background:#2b2d31;
  padding:10px;
}

.channel{
  padding:10px;
  cursor:pointer;
  border-radius:6px;
}

.channel:hover{
  background:#404249;
}

.main{
  flex:1;
  padding:10px;
  overflow:auto;
}

.card{
  background:#313338;
  padding:10px;
  margin:10px 0;
  border-radius:10px;
  display:flex;
  gap:10px;
  align-items:center;
}

.pfp{
  width:40px;
  height:40px;
  border-radius:50%;
}

.you{
  margin-left:10px;
  font-size:12px;
  color:#aaa;
}

select,textarea{
  width:100%;
  margin-top:5px;
}