body {
  background: #250242;
  color: white;
  font-family: Arial;
  margin: 0;
}

.header {
  text-align: center;
  padding: 20px;
}

.header img {
  width: 120px;
  border-radius: 50%;
}

.container {
  text-align: center;
  margin-top: 40px;
}

a {
  display: block;
  margin: 15px;
  font-size: 18px;
  color: rgb(89, 0, 255);
  cursor: pointer;
}

.list {
  padding: 20px;
}

.card {
  background: #10052e;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
}

.card img {
  width: 50px;
  border-radius: 50%;
}

select, textarea {
  width: 100%;
  margin-top: 5px;
}

button {
  margin: 20px;
  padding: 10px 20px;
}